# Path to your photo directory on the host machine
# Example: PHOTOS_PATH=/Users/name/Pictures
#          PHOTOS_PATH=C:\Users\name\Pictures
PHOTOS_PATH=C:\Users\wwwwi\Downloads

# Port to expose (default: 8080)
PORT=8080
